html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 648px;
	-pie-box-shadow: 1px 10px 9px #F4F3F3;
	-moz-box-shadow: 1px 10px 9px rgba(169, 161, 161, 0.12);
	-webkit-box-shadow: 1px 10px 9px -1px rgba(169, 161, 161, 0.12);
	box-shadow: 1px 10px 9px rgba(169, 161, 161, 0.12);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 384px;
	margin-left: auto;
	margin-right: auto;
}

#u6571
{
	z-index: 31;
	width: 47px;
	margin-right: -10000px;
	margin-top: 280px;
	left: 114px;
}

#pu6572
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 174px;
}

#u6572
{
	z-index: 3;
	width: 588px;
	margin-left: 3px;
}

#u6580
{
	z-index: 28;
	width: 227px;
	margin-right: -10000px;
}

._u6580.f3s_top
{
	height: 58px;
	background-image: url("../images/u6580-full.png");
	width: 227px;
	padding-bottom: 25px;
}

#u6573
{
	z-index: 29;
	width: 260px;
	height: 38px;
	background-image: url("../images/main%20page%20title%20button_bembo-u6573-fr.png");
	margin-right: -10000px;
	margin-top: 20px;
	left: 13px;
}

#u6573:hover
{
	background-image: url("../images/main%20page%20title%20button_bembo-u6573-r-fr.png");
	margin: 20px -10000px 0px 0px;
}

#u6573:active
{
	background-image: url("../images/main%20page%20title%20button_bembo-u6573-fr.png");
	margin: 20px -10000px 0px 0px;
}

#u6581
{
	z-index: 4;
	width: 330px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 258px;
}

._u6581.f3s_top
{
	height: 56px;
	background-image: url("../images/u6581-full.png");
	width: 330px;
	padding-bottom: 26px;
}

#u6574
{
	z-index: 5;
	width: 278px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 30px;
}

#u6576
{
	z-index: 12;
	width: 47px;
	margin-right: -10000px;
}

#u6579
{
	z-index: 17;
	width: 47px;
	margin-right: -10000px;
	left: 62px;
}

#u6571_states,#u6576_states,#u6579_states
{
	height: 26px;
	width: 47px;
}

#u6578
{
	z-index: 21;
	width: 62px;
	margin-right: -10000px;
	left: 116px;
}

#u6578_states
{
	height: 26px;
	width: 62px;
}

#u6575
{
	z-index: 26;
	width: 45px;
	margin-right: -10000px;
	left: 186px;
}

#u6575_states
{
	height: 26px;
	width: 45px;
}

#u6577
{
	z-index: 7;
	width: 36px;
	margin-right: -10000px;
	left: 242px;
}

#u6577_states
{
	height: 26px;
	width: 36px;
}

#u6582
{
	z-index: 2;
	width: 589px;
	margin-top: 42px;
}

._u6582.f3s_top
{
	width: 589px;
	background-image: url("../images/u6582-sprite.png");
	height: 27px;
}

._u6582.f3s_mid
{
	background-image: url("../images/u6582-sprite.png");
	width: 589px;
	min-height: 638px;
}

._u6582.f3s_bot
{
	width: 589px;
	background-image: url("../images/u6582-sprite.png");
	height: 26px;
}

#u6582_position_content
{
	margin-top: -6px;
	margin-bottom: 95px;
}

#u7619
{
	z-index: 44;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 44px;
	position: relative;
}

#u7484-9
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 35px;
	margin-top: 38px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 357px;
}

#page .verticalspacer
{
	clear: both;
}

