.Ling-Zhou,.menu,.menublack,.menu-empty
{
	font-family: amatic-sc-n7, sans-serif;
}

.rollover-brown
{
	font-family: amatic-sc-n4, sans-serif;
}

#u3201-4
{
	font-family: amatic-sc-n7, sans-serif;
}

#u2119-4
{
	font-family: amatic-sc-n4, sans-serif;
}

