#u2188
{
	background-color: transparent;
	opacity: 0.44;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
	filter: alpha(opacity=44);
	position: relative;
}

#u2174
{
	background-color: transparent;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	position: relative;
}

#u2188:hover,#u2174:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2478,#u3194
{
	position: fixed;
}

#menuu1244,#u3409,#u3410
{
	position: relative;
}

#u3410:hover
{
	border-color: #B9F8F8;
}

#u3410:active
{
	border-color: #000000;
}

#u3410.MuseMenuActive
{
	border-color: #B9F8F8;
}

.rollover-menu
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3411-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u3410.MuseMenuActive #u3411-4
{
	border-style: none;
	border-color: transparent;
}

#u3410:hover #u3411-4 p,#u3410:hover #u3411-4 span,#u3410:active #u3411-4 p,#u3410:active #u3411-4 span
{
	color: #736357;
	visibility: inherit;
	font-size: 30px;
	letter-spacing: 2px;
}

#u3410.MuseMenuActive #u3411-4 p,#u3410.MuseMenuActive #u3411-4 span
{
	color: #000000;
	visibility: inherit;
	font-size: 25px;
	letter-spacing: 3px;
}

#u3411
{
	letter-spacing: 3px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1379
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	position: relative;
	background-size: contain !important;
}

#u1379:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	background-size: contain !important;
}

#u1379:active
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	background-size: contain !important;
}

#u3193
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	position: relative;
	background-size: contain !important;
}

#u1379.MuseLinkActive,#u3193:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	background-size: contain !important;
}

#u3193:active
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	background-size: contain !important;
}

#back
{
	position: relative;
}

#u3200
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u3201-4
{
	letter-spacing: 5px;
	font-size: 46px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2908-4
{
	letter-spacing: 5px;
	position: fixed;
}

#u2119-4
{
	letter-spacing: 2px;
	font-size: 19px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

